
body {
    font-family: Calibri, helvetica, sans-serif;
    font-size: 150%;
    max-width: 2000px;
}


body .main-container {
max-width: 900px;
}

h1 {
    color: rgb(0, 159, 218);
    font-size: 200%;
    font-weight: bold;
}


h2 {
    color: rgb(31, 20, 93);
    font-size: 150%;
    font-weight: bold;
}

h3 {
    color: rgb(31, 20, 93);
    font-size: 125%;
    font-weight: bold;
}

h4 {
    color: rgb(31, 20, 93);
    font-size: 100%;
    font-weight: bold;
    font-style: italic;
}

.title {
    margin-right: 200px;
    font-size: 100%;
}

.exercise{
    font-family: Calibri, helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background-color: rgb(249,227,0);
}

.information{
    font-family: Calibri, helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background-color: rgb(190,214,0);
}

.warning{
    font-family: Calibri, helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background-color: rgb(209,0,116);
}


.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: rgb(55, 56, 149);
}
