<!-- ******CONTACT****** -->
<section id="contact" class="contact section has-pattern {% if include.expand %}flex-fill{% endif %}">
    <div class="container">

        <div class="contact-inner">
          <br>
            <p>
                For queries relating to collaborating with the Bioinformatics Core team on projects: <a href="mailto:bioinformatics-core@sheffield.ac.uk">bioinformatics-core@sheffield.ac.uk</a>
            </p>

            <p>
                Join our mailing list so as to be notified when we advertise talks and workshops by 
                <a href="https://groups.google.com/a/sheffield.ac.uk/g/bioinformatics-core-news">subscribing to this Google Group</a>. You can also connect with us on <a href="https://www.linkedin.com/company/sheffield-bioinformatics-core/about/">Linkedin</a>.
            </p>

            <p>
      Requests for a Bioinformatics support clinic can be made via the Research Software Engineering (RSE) <a href="https://goo.gl/forms/5MVy0jM6xQhWlpmn1">code clinic</a> system. This is monitored by Bioinformatics Core staff, so we will ensure the appropriate expertise (which may involve individuals from multiple teams) will be available to help you        
              
            </p>

            <p>
    Queries regarding sequencing and library preparation provision at The University of Sheffield should be directed to the <a href="https://www.sheffield.ac.uk/sitran/facilities/multiomics">Multi-omics facility in SITraN</a> or the <a href="https://sites.google.com/sheffield.ac.uk/genomics-laboratory/home">Genomics Laboratory in Biosciences</a>.        
              
<p style="text-align:center;">
  <img src="/assets/images/logo/logo-for-dark-backgrounds.jpg" width="425">
</p>
        </div><!--//contact-inner-->
    </div><!--//container-->
</section><!--//contact-->
